{% block content %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transaction List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>


    <style>
    body {background-image: url("../static/css/images/Bone-Solid-Color-Background-Wallpaper-5120x2880.png");}
    .btn1 {border-radius: 50%;padding: 20px;font-size: 16px;font-weight: bold;height: 100px;width: 300px;margin:auto;}
    </style>
</head>
<body>
	<div class="alert alert-info mb-2" role="alert">
        <h4 class="alert-heading text-center text-muted pb-3">Watson Bank Account System</h4>
        <!-- BACK -->
        <a href="{% url 'system:system' %}" class="btn btn-dark " style="width:100px;margin-left:1330px;">Previous</a>
        <p class="text-center" style="font-size:18px">This Form Display Us Watson Bank Transaction Account</p>
    </div>
<div class="container">

    {% comment %} {% for item in lst_acc %} {% endcomment %}

        <div class="card text-white bg-secondary mb-3">
            <div class="card-header bg-success" style="font-size:18px;margin-left:340px;">ID : {{lst_acc.id}} </div>
            <div class="card-body">
                <p class="card-title" style="font-size:16px;color:orange ">DETAILS :</p>
                <p class="card-title" style="font-size:16px;margin-left:60px;">FromAccount : {{lst_acc.fromAccountNumber}}</p>
                <p class="card-title" style="font-size:16px;margin-left:60px;">ToAccount : {{lst_acc.toAccountNumber}}</p>
                <p class="card-title" style="font-size:16px;margin-left:60px;">Amount : {{lst_acc.amount}}</p>
                <p class="card-title" style="font-size:16px;margin-left:60px;">Definition : {{lst_acc.definition}}</p>
                <p class="card-title" style="font-size:16px;margin-left:60px;">Cash : {{lst_acc.cash}}</p>
                <hr>

        
            </div>
        </div>

    {% comment %} {% endfor %} {% endcomment %}
</div>

<!-- Footer -->
<footer class="bg-dark py-4 mt-5 mb-0">
    <div class="container">
        <div class="small text-center text-white "><strong>Copyright &copy; 2020 - All Rights Reserved to ALI.ES79</strong></div>
    </div>

</footer>

</body>
</html>
{% endblock %}